canvas {
  position: fixed;
  top: 0;
  left: 0;
}

main {
  position: absolute;
}
header {
  color: white;
  font-weight: 100;
  text-align: center;
  width: 99.6vw;
  display: block;
}

footer {
  position: absolute;
  bottom: 0;
  width: 99.6vw;
  height: 5vw;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 1%;
  gap: 50px;
}

.aboutMe {
  height: 3vw;
  width: 10vw;
  background-color: rgba(255, 0, 0, 0);
  color: white;
  cursor: pointer
}

.aboutMe:hover {
  background-color: rgba(255, 255, 255, 0.11);
}

.back {
  display: none;
  height: 3vw;
  width: 10vw;
  background-color: rgb(0, 0, 0);
  color: white;
  cursor: pointer
}

.back:hover {
  background-color: rgba(0, 0, 0, 0.555);
}